<div *ngFor="let post of posts">
  <div class="card" style="width: 100%">
    <!--<img [src]="post.imageUrl" class="card-img-top" alt="логотип партнера" />-->
    <div class="card-body">
      <h5 class="card-title">{{ post.name }}</h5>
      <div class="card-text">
        <div></div>
        <div></div>
        <div>
          <i>
            {{ post.text }}
          </i>
        </div>
      </div>
    </div>
    <div class="card-footer">
      Дата поста: {{post.Date}}<br>
      Автор: {{post.author}}
    </div>
  </div>
</div>
